@import "~@ng-select/ng-select/themes/default.theme.css";


.card-header {
    color: #fff;
    background: #f37;
    font-size: larger;
}

h5 {
    color: #f37;
}

.container{
    max-width: 1400px;
}